form {
    display: flex;
    flex-direction: column;
    background-color: rgba(205, 121, 226, 0.774);
    max-height: 90vh;
    max-width: 80vw;
    margin: 2vh 0 2vh 0;
    padding: 2vh 2vw 2vh 2vw;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;

}


#form-carga {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 92vh;
    width: 98.9vw;
    background-image: url(src\assets\img\background_login.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#div-atencion {
    display: flex;
    flex-direction: row;
    
}

#div-atencion button { 
    margin: 3vh 0 0 2vh;
    height: 4.5vh;
}

mat-form-field {
    margin: 2vh 0  0 2vw;
}

p {
    color: white;
    text-shadow: 1px 1px 1px black;
    text-align: center;
}

table {
    width: 50%;
}

th.mat-header-cell {
    text-align: center!important;
}

td.mat-cell {
    text-align: center!important;
}