<div id="contenedor">
    <mat-card id="profesional-card">
        <mat-card-header>               
            <mat-card-title>{{profesional.apellido | titlecase}}, {{profesional.nombre | titlecase}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="profesional.foto" alt="Foto del profesional">
        <mat-card-content>
            <mat-label>Especialidad:</mat-label>
            <p *ngFor="let especialidad of profesional.especialidades">{{especialidad}}</p>
        </mat-card-content>
    </mat-card>
    
    <form>
        <mat-form-field>
            <mat-label>Elija una fecha</mat-label>
            <input matInput (dateChange)="mostrarHorarioTurnos()" [(ngModel)]="diaSeleccionado" [min]="limiteMin" [max]="limiteMax"
             [matDatepickerFilter]="comprobarFecha.bind(this)" [matDatepicker]="picker" name="dia" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field *ngIf="horasAtencion != undefined">
            <mat-label>Elija la hora</mat-label>
            <mat-select  [(ngModel)]="turnoSeleccionado" name="turnoSeleccionado" required>
                <mat-option *ngFor="let horaTurno of horasAtencion" [value]="horaTurno">{{horaTurno | date:'HH:mm'}}</mat-option>           
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Seleccione la especialidad</mat-label>
            <mat-select  [(ngModel)]="especialidad" name="especialidad" required>
                <mat-option *ngFor="let especialidad of this.profesional.especialidades" [value]="especialidad">{{especialidad | titlecase}}</mat-option>           
            </mat-select>
        </mat-form-field>
            
        <button mat-raised-button (click)="pedirTurno()">Pedir Turno</button>
    </form>    

      
</div>