<app-menu></app-menu>

<div id="div-filtro">
    <mat-form-field>
        <mat-label>Filtro:</mat-label>
        <input matInput [(ngModel)]="filtro" (keyup)="aplicarFiltro()">
    </mat-form-field>
    
    <mat-form-field>
        <mat-label>Elija un campo para filtrar</mat-label>
        <mat-select (selectionChange)="aplicarFiltro()"  [(ngModel)]="tipoFiltro">
            <mat-option  *ngFor="let filtro of listaFiltros" [value]="filtro.nombreFiltro">
                {{filtro.nombreParaMostrar | titlecase}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    

    <mat-form-field>
        <mat-label>Elija una fecha</mat-label>
        <input matInput (dateChange)="filtrarDia()" [(ngModel)]="diaSeleccionado" 
          [matDatepicker]="picker" name="dia" disabled>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
</div>



<table mat-table [dataSource]="listaTurnos" class="mat-elevation-z8">

    <ng-container matColumnDef="Día">
        <th mat-header-cell *matHeaderCellDef> Día </th>
        <td mat-cell *matCellDef="let element"> {{element.diaHora.toDate() | date:'dd MMMM yyyy' }}  </td>
    </ng-container>

    <ng-container matColumnDef="Hora">
        <th mat-header-cell *matHeaderCellDef> Hora </th>
        <td mat-cell *matCellDef="let element"> {{element.diaHora.toDate() | date:'HH:mm'}}  </td>
    </ng-container>
   
    <ng-container matColumnDef="Paciente">
        <th mat-header-cell *matHeaderCellDef> Paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.paciente.apellido | titlecase}}, {{element.paciente.nombre | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Profesional">
        <th mat-header-cell *matHeaderCellDef> Profesional </th>
        <td mat-cell *matCellDef="let element"> {{element.profesional.apellido | titlecase}}, {{element.profesional.nombre | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Especialidad">
        <th mat-header-cell *matHeaderCellDef> Especialidad </th>
        <td mat-cell *matCellDef="let element"> {{element.especialidad | titlecase}} </td>
    </ng-container>

    <ng-container matColumnDef="Estado">
        <th mat-header-cell *matHeaderCellDef> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado | titlecase}} </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="mostrarDetalles(row.paciente, row.profesional)" *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div id="div-detalles">
    <app-paciente-detalle *ngIf="pacienteSeleccionado != undefined"[paciente]="pacienteSeleccionado"></app-paciente-detalle>

    <app-profesional-detalle *ngIf="profesionalSeleccionado != undefined" [profesional]="profesionalSeleccionado"></app-profesional-detalle>
</div>
