<app-menu></app-menu>
<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Ingresos">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="Profesional">
                <th mat-header-cell *matHeaderCellDef> Profesional </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario }}  </td>
            </ng-container>
        
            <ng-container matColumnDef="Ingreso">
                <th mat-header-cell *matHeaderCellDef> Ingreso </th>
                <td mat-cell *matCellDef="let element"> {{element.dia | parsearFecha}}  </td>
                <!-- <td mat-cell *matCellDef="let element"> {{element.dia | date:'dd MMMM yyyy HH:mm'}}  </td> -->
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
        <button mat-raised-button color="accent" [appExportar]="listaIngresos" [nombreArchivo]="'ingresos'">Exportar a Excel</button>
    </mat-tab>
    <mat-tab label="Operaciones">
         <app-grafico-torta [pieChartLabels]="etiquetasParaGraficos" [pieChartData]="datosParaGraficos" *ngIf="mostrarGraficoBarras">
         </app-grafico-torta>
    </mat-tab>
    <mat-tab label="Turnos por día"> <app-grafico-barras></app-grafico-barras> </mat-tab> 
    <mat-tab label="Turnos de los médicos"> <app-grafico-barras-horizontales></app-grafico-barras-horizontales></mat-tab> 
    <mat-tab label="Médicos por día"> <app-grafico-lineas></app-grafico-lineas> </mat-tab> 
</mat-tab-group>

