
#div-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 20vh 15vw 20vh 15vw;

  background-image: url('/assets/img/background_login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  max-height: 80vh;
  padding: 5vh 10vw 5vh 10vw;
  background-color: rgba(184, 163, 250, 0.972);
  border-style: solid;
  border-radius: 20px;
  border-width: 0.2vw;
}

form h1 {
  text-align: center;
  font-size: 5vw;
  margin-bottom: 2vh;
}

#div-autocompletar {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 2vh;
  height: 12vh;
}

#div-captcha {
  display: flex;
  flex-direction: row;
  margin-bottom : 2vh;
}

.fila-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

re-captcha {
  transform:scale(0.77);
  -webkit-transform:scale(0.70);
  transform-origin:0 0;
  -webkit-transform-origin:0 0;
}

@media only screen and (min-width: 768px) {


  #div-login{
    padding: 20vh 25vw 20vh 25vw;
  }

  form h1 {
    font-size: 4vw;
    margin-bottom: 5vh;
  }

  re-captcha {
    transform:scale(1);
    -webkit-transform:scale(1);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
  }

}
