table {
    width: 70%;
    margin-bottom: 2vh;
}

#contenedor {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2vh 2vw 2vh 2vw;
}


#div-encuesta {
    display:flex;
    flex-direction: column;
    width: 70%;
    height: 50vh;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 40vw;
}

mat-radio-button {
    margin-right: 2vh;
}