#div-registro{
  display: flex;
  flex-direction: column;
  background-image: url('/assets/img/background_login.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;

  width: 100%;
  padding: 10vh 15vw 10vh 15vw;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 5vh 10vw 5vh 10vw;
  background-color: rgba(184, 163, 250, 0.972);
  border-style: solid;
  border-radius: 20px;
  border-width: 0.2vw;
}

form button {
  margin-bottom: 2vh;
}

#div-cargarFoto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8vh;
  margin-bottom: 5vh;

}

#btn-especialidad {
  width: 15vw;
  margin-left: 30vw;
}
