mat-card {
    width: 40vw;
    max-height: 80vh;
    

}

img {
    margin-right: 2vw;
     max-width: 150px;
     max-height: auto;
}

#div-img {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content:center;
}
