

table {
    width: 70vw;
    max-height: 30vh;
    margin-bottom: 2vh;
}

th.mat-header-cell {
    text-align: center!important;
}

td.mat-cell {
    text-align: center!important;
}

button {
    margin-right: 1vw;
}