<div id="contenedor">
    
    <mat-form-field class="example-full-width">
        <mat-label>Reseña del paciente:</mat-label>
        <textarea matInput placeholder="Escriba la reseña aquí..."></textarea>
      </mat-form-field>

    <form>
        <mat-label>Encuesta del paciente:</mat-label> 
    
        <mat-form-field>
            <mat-label>Predisposición:</mat-label>
            <mat-select [(ngModel)]="predisposicion" name="predisposicion">
                <mat-option value="excelente">Excelente</mat-option>
                <mat-option value="buena">Buena</mat-option>
                <mat-option value="regular">Regular</mat-option>
                <mat-option value="mala">Mala</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Puntualidad:</mat-label>
            <mat-select [(ngModel)]="puntualidad" name="puntualidad">
                <mat-option value="sí">Sí</mat-option>
                <mat-option value="no">No</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-label>¿Volvería a atenderlo?</mat-label>
        <mat-checkbox [(ngModel)]="predisposicion">Sí</mat-checkbox>
        
        <button mat-raised-button (click)="guardarEncuesta()">Guardar Encuesta</button>              
    </form>   
</div>
